@font-face {
    font-family: 'alpha_echoregular';
    src: url('../fonts/alpha_echo-webfont.eot');
    src: url('../fonts/alpha_echo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alpha_echo-webfont.woff') format('woff'),
         url('../fonts/alpha_echo-webfont.ttf') format('truetype'),
         url('../fonts/alpha_echo-webfont.svg#alpha_echoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

