@font-face {
	font-family: 'helveticaneue';
	/*src: url('../fonts/HelveticaLTStd-Roman.otf') format('truetype');*/
	src: url('../fonts/helveticaltstd-roman-webfont.eot');
	src: url('../fonts/helveticaltstd-roman-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaltstd-roman-webfont.woff') format('woff'), url('../fonts/helveticaltstd-roman-webfont.ttf') format('truetype'), url('../fonts/helveticaltstd-roman-webfont.svg#helvetica_lt_stdregular') format('svg');

}

@font-face {
	font-family: 'helveticaneue-light';
	/* src: url('../fonts/HelveticaNeueLTStd-Th.otf') format('truetype'); */
	src: url('../fonts/helveticaneueltstd-th-webfont.eot');
	src: url('../fonts/helveticaneueltstd-th-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltstd-th-webfont.woff') format('woff'), url('../fonts/helveticaneueltstd-th-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltstd-th-webfont.svg#helvetica_neue_lt_std35_thin') format('svg');
}

@font-face {
	font-family: 'helveticaneue-bold';
	/*
	src: url('../fonts/HelveticaLTStd-Bold.otf') format('truetype'); */
	src: url('../fonts/helveticaltstd-bold-webfont.eot');
	src: url('../fonts/helveticaltstd-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaltstd-bold-webfont.woff') format('woff'), url('../fonts/helveticaltstd-bold-webfont.ttf') format('truetype'), url('../fonts/helveticaltstd-bold-webfont.svg#helvetica_lt_stdbold') format('svg');
	font-weight: normal;
	font-style: normal;
}